<html>
  <head>
    <title>KPIs</title>
    <script src="/components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/components/highcharts/highcharts.js" type="text/javascript" charset="utf-8"></script>
    <script src="/components/underscore/underscore.js" type="text/javascript" charset="utf-8"></script>
    <!-- <script src="scripts/app.js" type="text/javascript" charset="utf-8"></script> -->
    <script type="text/javascript" charset="utf-8">

    $(function () {
      var options = {
        title: {
          x: -10,
          y: 10
        },

        xAxis: {
          categories: []
        },

        yAxis: {
          title: {},
          plotLines: [{
            value: 90,
            width: 2,
            zIndex: 3,
            dashStyle : 'shortdash',
            color: 'black'
          }]
        },

        plotOptions: {
          line: {
            dataLabels: {
              enabled: true
            },
            enableMouseTracking: false
          }
        },

        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
        },

        series: [{}]

      }

      var kpi = <%= kpi %>;
      var win = _.last(kpi.data, 7);

      options.plotOptions.line.threshold = kpi.target;
      options.title.text = kpi.title;
      options.yAxis.title.text = kpi.title;
      options.yAxis.plotLines[0].value = kpi.target;
      options.xAxis.categories = _.pluck(win, 'date');

      options.series[0].name = '<%= type %>';
      options.series[0].negativeColor = 'red';
      options.series[0].color = 'green';
      
      options.series[0].data = _.pluck(win, 'value');

      var peroid = 10*60*1000;
      setInterval(function() {
          $('#container').highcharts(options);
      }, peroid);

      $('#container').highcharts(options);
    });

    </script>
  </head>
  <body>
    <div id="container" />
  </body>
</html>
