<html>
  <head>
    <title>Update the KPIs</title>
    <link rel="stylesheet" href="/components/foundation/css/normalize.css" title="" type="" />
    <link rel="stylesheet" href="/components/foundation/css/foundation.css" title="" type="" />

    <script src="/components/modernizr/modernizr.js" type="text/javascript" charset="utf-8"></script>
    <script src="/components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/components/foundation/foundation.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div>
        <form action="/uploadkpi" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <div class="row">
                <div class="large-12 columns">
                    <label>KPI FIle: 
                        <input type="file" name="file" />
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" name="submit" id="submit" value="submit" />
                </div>
            </div>
        </form>
    </div>
  </body>
</html>
